Beaker==1.6.4
Mako==0.8.1
MarkupSafe==0.18
amqp==1.0.11
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4==4.2.1
billiard==2.7.3.28
bottle==0.11.6
celery==3.0.19
circus==0.8.1
circus-web==0.4.1
eventlet==0.12.1
gevent==0.13.8
gevent-socketio==0.3.5-rc2
gevent-websocket==0.3.6
greenlet==0.4.1
iowait==0.1
ipython==0.13.2
kombu==2.5.10
psutil==0.7.1
py2neo==1.5
python-dateutil==2.1
pyzmq==13.1.0
requests==1.2.3
six==1.3.0
wsgiref==0.1.2
